<!DOCTYPE html>
<html lang="en-us">
  <head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noodp"/>
  <meta name="author" content="21song">
  
  
  
  <link rel="prev" href="/2017/jinja2%E7%AE%80%E4%BB%8B/" />
  <link rel="next" href="/2017/flask%E7%9A%84csrf/" />
  <link rel="canonical" href="/2017/flask%E7%9A%84%E9%97%AA%E7%8E%B0/" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>
       
       
           Flask的闪现 | 宋军亮的技术博客
       
  </title>
  <meta name="title" content="Flask的闪现 | 宋军亮的技术博客">
    
  
  <link rel="stylesheet" href="/font/iconfont.css">
  <link rel="stylesheet" href="/css/main.min.css">


  
  
 

<script type="application/ld+json">
 "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "\/"
    },
    "articleSection" : "posts",
    "name" : "Flask的闪现",
    "headline" : "Flask的闪现",
    "description" : "Flash中的消息闪现，在官方的解释是用来给用户做出反馈。不过实际上这个功能只是一个记录消息的方法，在某一个请求中记录消息，在下一个请求中获取消息，然后做相应的处理，也就是说flask只存在于两个相邻的请求中“闪现”，第三次请求就不存在这个flash了。\n通常情况下配合模板系统进行调用，可以实现一种伪”ajax”请求的效果\n基于 flash 模块\nfrom flask import flash\n模板输出flash\n```\n{# 将flash消息闪现和后台联系起来 #}\n​ {# 将消息闪现里面的所有消息遍历，取出需要返回给用户的信息 #}\n​ {% for message in get_flashed_messages() %}\n​ {{ message }}\n​ {% endfor %}",
    "inLanguage" : "en-us",
    "author" : "Song",
    "creator" : "Song",
    "publisher": "Song",
    "accountablePerson" : "Song",
    "copyrightHolder" : "Song",
    "copyrightYear" : "2017",
    "datePublished": "2017-08-02 00:00:00 \x2b0000 UTC",
    "dateModified" : "2017-08-02 00:00:00 \x2b0000 UTC",
    "url" : "\/2017\/flask%E7%9A%84%E9%97%AA%E7%8E%B0\/",
    "wordCount" : "33",
    "keywords" : [ "Python","Flask", "宋军亮的技术博客"]
}
</script>

</head>

  


  <body class="">
    <div class="wrapper">
        <nav class="navbar">
    <div class="container">
        <div class="navbar-header header-logo">
        	<a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="/">宋军亮的技术博客</a>
        </div>
        <div class="menu navbar-right">
                
                
                <a class="menu-item" href="/posts/" title="">Blog</a>
                
                <a class="menu-item" href="/categories/" title="">Categories</a>
                
                <a class="menu-item" href="/tags/" title="">Tags</a>
                
                <a class="menu-item" href="/about/" title="">About</a>
                
        </div>
    </div>
</nav>
<nav class="navbar-mobile" id="nav-mobile" style="display: none">
     <div class="container">
        <div class="navbar-header">
            <div>  <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="/">宋军亮的技术博客</a></div>
            <div class="menu-toggle">
                <span></span><span></span><span></span>
            </div>
        </div>
     
          <div class="menu" id="mobile-menu">
                
                
                <a class="menu-item" href="/posts/" title="">Blog</a>
                
                <a class="menu-item" href="/categories/" title="">Categories</a>
                
                <a class="menu-item" href="/tags/" title="">Tags</a>
                
                <a class="menu-item" href="/about/" title="">About</a>
                
        </div>
    </div>
</nav>
    	 <main class="main">
          <div class="container">
      		
<article class="post-warp" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">Flask的闪现</h1>
        <div class="post-meta">
                Written by <a itemprop="name" href="/" rel="author">Song</a> with ♥ 
                <span class="post-time">
                on <time datetime=2017-08-02 itemprop="datePublished">August 2, 2017</time>
                </span>
                in
                <i class="iconfont icon-folder"></i>
                <span class="post-category">
                        <a href="/categories/python/"> Python </a>
                        
                </span>
        </div>
    </header>
    <div class="post-content">
        

        

        
        
     
          
          
          

          
          
          

          <p>Flash中的消息闪现，在官方的解释是用来给用户做出反馈。不过实际上这个功能只是一个记录消息的方法，在某一个请求中记录消息，在下一个请求中获取消息，然后做相应的处理，也就是说flask只存在于两个相邻的请求中“闪现”，第三次请求就不存在这个flash了。</p>

<p>通常情况下配合模板系统进行调用，可以实现一种伪”ajax”请求的效果</p>

<p>基于 flash 模块</p>

<p>from flask import flash</p>

<p>模板输出flash</p>

<p>```</p>

<p>{# 将flash消息闪现和后台联系起来 #}</p>

<p>​        {# 将消息闪现里面的所有消息遍历，取出需要返回给用户的信息 #}</p>

<p>​        {% for message in get_flashed_messages() %}</p>

<p>​                    {{ message }}</p>

<p>​        {% endfor %}</p>

    </div>

    <div class="post-copyright">
             
            <p class="copyright-item">
                <span>Author:</span>
                <span>21song </span>
                </p>
            
           
             
            <p class="copyright-item">
                    <span>Link:</span>
                    <a href=/2017/flask%E7%9A%84%E9%97%AA%E7%8E%B0/>/2017/flask%E7%9A%84%E9%97%AA%E7%8E%B0/</span>
            </p>
            
            
    </div>

  
    <div class="post-tags">
        
            <section>
            <i class="iconfont icon-tag"></i>Tag(s): 
            
            <span class="tag"><a href="/tags/python/">
                    #Python</a></span>
            
            <span class="tag"><a href="/tags/flask/">
                    #Flask</a></span>
            
            </section>
        
        <section>
                <a href="javascript:window.history.back();">back</a></span> · 
                <span><a href="/">home</a></span>
        </section>
    </div>

    <div class="post-nav">
        
        <a href="/2017/jinja2%E7%AE%80%E4%BB%8B/" class="prev" rel="prev" title="Jinja2模板简介与使用"><i class="iconfont icon-left"></i>&nbsp;Jinja2模板简介与使用</a>
         
        
        <a href="/2017/flask%E7%9A%84csrf/" class="next" rel="next" title="Flask的csrf">Flask的csrf&nbsp;<i class="iconfont icon-right"></i></a>
        
    </div>

    <div class="post-comment">
          
                 
          
    </div>
</article>
          </div>
		   </main>
      <footer class="footer">
    <div class="copyright">
        &copy;
        
        <span itemprop="copyrightYear">2016 - 2019</span>
        
        <span class="with-love">
    	 <i class="iconfont icon-love"></i> 
         </span>
         
            <span class="author" itemprop="copyrightHolder"><a href="/">21song</a> | </span> 
         

         
		  <span>Powered by <a href="https://gohugo.io/" target="_blank" rel="external nofollow">Hugo</a> & <a href="https://github.com/liuzc/leaveit" target="_blank" rel="external nofollow">LeaveIt</a></span> 
    </div>
</footer>












    
    
    <script src="/js/vendor_no_gallery.min.js" async=""></script>
    
  



     </div>
  </body>
</html>
